In [1]:
# Sect 6.5.2
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
requests.__version__

'2.24.0'

In [2]:
# Starting URL for  Map API Call.
#url = "https://maps.googleapis.com/maps/api/place/details/output?parameters=" + g_key
#print(url)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Darnah,LY,2020-09-01 00:59:19,32.77,22.64,75.81,79,0,14.97
1,1,Bluff,NZ,2020-09-01 00:55:16,-46.60,168.33,45.00,72,97,11.01
2,2,Tonantins,BR,2020-09-01 00:59:20,-2.87,-67.80,76.19,83,30,1.61
3,3,Manaus,BR,2020-09-01 00:59:20,-3.10,-60.02,82.40,88,75,3.36
4,4,Busselton,AU,2020-09-01 00:59:20,-33.65,115.33,54.00,87,100,24.61
...,...,...,...,...,...,...,...,...,...,...
581,581,Parabel,RU,2020-09-01 01:02:04,58.70,81.48,58.80,94,100,10.09
582,582,Toguchin,RU,2020-09-01 01:02:04,55.24,84.39,60.75,76,100,12.35
583,583,Key West,US,2020-09-01 01:02:04,24.56,-81.78,87.80,79,1,6.93
584,584,Casablanca,MA,2020-09-01 00:59:36,33.59,-7.62,77.00,100,0,1.12
585,585,Korba,IN,2020-09-01 01:02:05,22.35,82.68,78.84,85,100,3.49

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
Cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Sect 6.5.3
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 74
What is the maximum temperature you would like for your trip? 89

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Darnah,LY,2020-09-01 00:59:19,32.77,22.64,75.81,79,0,14.97
2,2,Tonantins,BR,2020-09-01 00:59:20,-2.87,-67.80,76.19,83,30,1.61
3,3,Manaus,BR,2020-09-01 00:59:20,-3.10,-60.02,82.40,88,75,3.36
16,16,Butaritari,KI,2020-09-01 00:55:07,3.07,172.79,84.16,71,100,7.92
20,20,Quang Ngai,VN,2020-09-01 00:59:24,15.12,108.80,83.61,68,17,4.45
34,34,Arkansas City,US,2020-09-01 00:55:07,37.06,-97.04,78.80,74,1,13.87
35,35,Sapa,PH,2020-09-01 00:59:30,5.15,120.32,85.08,71,97,8.84
39,39,Mackay,AU,2020-09-01 00:59:30,-21.15,149.20,75.00,73,0,10.29
40,40,Madison Heights,US,2020-09-01 00:59:31,42.49,-83.11,75.20,53,1,3.36
42,42,Hilo,US,2020-09-01 00:59:31,19.73,-155.09,82.40,65,90,8.05

In [13]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [14]:
# Sect 6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
0            Darnah      LY     75.81  32.77   22.64
2         Tonantins      BR     76.19  -2.87  -67.80
3            Manaus      BR     82.40  -3.10  -60.02
16       Butaritari      KI     84.16   3.07  172.79
20       Quang Ngai      VN     83.61  15.12  108.80
34    Arkansas City      US     78.80  37.06  -97.04
35             Sapa      PH     85.08   5.15  120.32
39           Mackay      AU     75.00 -21.15  149.20
40  Madison Heights      US     75.20  42.49  -83.11
42             Hilo      US     82.40  19.73 -155.09

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Dependencies and Setup (already have these above)
import requests
import gmaps

# Import API key
from config import g_key

In [28]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [29]:
len(hotels['results'])

20

In [30]:
hotels['results'][0]['name']

'Hôtel Duo'

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Darnah,LY,75.81,32.77,22.64,زاوية الرفاعي
2,Tonantins,BR,76.19,-2.87,-67.80,Hotel Rei Davi
3,Manaus,BR,82.40,-3.10,-60.02,Hotel do Largo
16,Butaritari,KI,84.16,3.07,172.79,Isles Sunset Lodge
20,Quang Ngai,VN,83.61,15.12,108.80,Central Hotel
34,Arkansas City,US,78.80,37.06,-97.04,Super 8 by Wyndham Arkansas City KS
35,Sapa,PH,85.08,5.15,120.32,
39,Mackay,AU,75.00,-21.15,149.20,International Lodge Motel
40,Madison Heights,US,75.20,42.49,-83.11,Red Roof Inn Detroit - Royal Oak/Madison Heights
42,Hilo,US,82.40,19.73,-155.09,Hilo Hawaiian Hotel